
/***************************** COLORS STYLE ****************************/

$baseColorDark: #1C1C1C;
$baseColorGray500: #6E7381;
$baseColorGray400: #A7AAAE;
$baseColorGray300: #D1D4D8;
$baseColorGray200: #E7E7E7;
$baseColorGray100: #F2F2F2;
$baseColorBlue100: #F8EFFF;
$baseColorBlue200: #00A3FF;
$baseColorBlue: #48CCD4;
$baseColorGreen: #74D272;
$baseColorOrange: #FFA31A;
$baseColorRed: #EC5147;
$color-icons: #818181;

// font sizes
$defaultFontSize: 1rem;
$smallFontSize: .875rem;
$microFontSize: .75rem;

// font weights
$bold: 700;
$fontWeight: 500;

// another
$defaultBorderRadius: 8px;
$middleBorderRadius: 12px;
$bigBorderRadius: 16px;


